/*
!.gitignore
!README.md
!index.html
!/abricot/
!/switchthirdparty/
!/customlink/
!/embeddedbookkeeping/
!/grh/
!/langpicker/
!/listincsv/
!/multicompany/
!/odooconnector/
!/previewdocuments/
!/sfrs_reports/
!/sghr/
!/slycustom/
!/strongauth/
!/langpicker/dolibase/vendor/
